<div>
    <h1>Register User</h1>
    <hr />

    <form (ngSubmit)='handleRegister()' [formGroup]='userForm'>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" 
                class="form-control" 
                id="email"
                formControlName='email'>
            <div *ngIf='email.pending && email.touched' class="alert alert-warning">
                checking availability ....
            </div>
            <div *ngIf='!email.pending && email.touched && email.valid' class="alert alert-warning">
                 username available....
            </div>
            <div *ngIf="!email.valid && email.touched">
                <div *ngIf="email.errors?.required" class="alert alert-danger">
                    Email is required...
                </div>
                <div *ngIf="email.errors?.userAlreadyExits" class="alert alert-danger">
                    User already exists... pls try another
                </div>
            </div>
        </div>

        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" 
                class="form-control" 
                id="pwd"
                formControlName='password'>
            <div *ngIf="!password.valid && password.touched">
                <div *ngIf="password.errors.required" class="alert alert-danger">
                    Password is required
                </div>
                <div *ngIf="password.errors.minlength" class="alert alert-danger">
                    min {{password.errors.minlength.requiredLength}} characters are required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" 
                  class="form-control" 
                  id="name"
                  formControlName='name'>
          </div>
          <div *ngIf="!name.valid && name.touched">
            <div *ngIf="name.errors.required" class="alert alert-danger">
                Name is required
            </div>
            <div *ngIf="name.errors.shoudNotContainSpaces" class="alert alert-danger">
                Name cannot contain spaces 
            </div>
        </div>
        <button 
            type="submit" 
            class="btn btn-primary">Register</button>

      </form>

</div>
